@model WebApplication.Models.Project

@{
    ViewData["Title"] = "Đồ án - " + Model.Title;
    List<ProjectSchedule> projectSchedules = ViewBag.ProjectSchedules;
}

<div class="section">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">
                @Html.DisplayFor(model => model.Title)
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <hr />
            <ul class="nav nav-pills nav-pills-primary flex-column">
                <!--Tổng quan-->
                <li class="nav-item"><a class="nav-link active" href="#list-home" data-toggle="tab">Tổng quan</a></li>
                <!--Tuần-->
                @for (var i = 0; i < projectSchedules.Count; i++)
                {
                    <li class="nav-item"><a class="nav-link" href="#list-week-@(i+1)" data-toggle="tab">Tuần @(i + 1)</a></li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <hr />
            <div class="tab-content">
                <!--Tổng quan-->
                <div class="tab-pane active" id="list-home">
                    <h3 class="info-title">Thông tin</h3>

                    <dl class="row">
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.LecturerId):
                        </dt>
                        <dd class="col-md-10">
                            @Model.Lecturer.ApplicationUser.LastName  @Model.Lecturer.ApplicationUser.FirstName
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Description):
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                    <hr />
                    <h3 class="info-title">Thành viên</h3>
                    <dl class="row">
                        @foreach (ProjectMember item in ViewBag.ProjectMembers)
                        {
                            <dt class="col-md-2">
                                Tên:
                            </dt>
                            <dd class="col-md-10">
                                @item.Student.ApplicationUser.LastName @item.Student.ApplicationUser.FirstName
                            </dd>
                            <dt class="col-md-2">
                                MSSV:
                            </dt>
                            <dd class="col-md-10">
                                @item.Student.StudentCode
                            </dd>
                        }
                    </dl>
                </div>
                <!--Tuần-->
                @for (var i = 0; i < projectSchedules.Count; i++)
                {
                    <div class="tab-pane" id="list-week-@(i+1)">
                        <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#demand-@(i+1)" role="tab" data-toggle="tab">
                                    <i class="material-icons">event_note</i>
                                    Yêu cầu
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#report-@(i+1)" role="tab" data-toggle="tab">
                                    <i class="material-icons">schedule</i>
                                    Báo cáo
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#rating-@(i+1)" role="tab" data-toggle="tab">
                                    <i class="material-icons">format_list_numbered</i>
                                    Điểm
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="demand-@(i+1)">
                                Tên tiến trình: @projectSchedules[i].Name
                                <hr />
                            </div>

                            <div class="tab-pane" id="report-@(i+1)">
                                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                            </div>

                            <div class="tab-pane" id="rating-@(i+1)">
                                Điểm: @projectSchedules[i].Rating
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
