@model IEnumerable<Project>

@{
    ViewData["Title"] = "Danh sách đồ án cá nhân";
    Student student = @ViewBag.Student;
}
<div class="section">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Danh sách đồ án cá nhân</h2>
            <p>
                <dl class="row">
                    <dt class="col-2">
                        MSSV:
                    </dt>
                    <dd class="col-10">
                        @student.StudentCode
                    </dd>
                    <dt class="col-2">
                        Tên:
                    </dt>
                    <dd class="col-10">
                        @student.ApplicationUser.LastName @student.ApplicationUser.FirstName
                    </dd>
                </dl>
            </p>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LecturerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectType.Name)
                        </td>
                        <td>
                            @item.Lecturer.ApplicationUser.LastName @item.Lecturer.ApplicationUser.FirstName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
