@model WebApplication.Models.ProjectType

@{
    ViewData["Title"] = "Delete Project Type - " + Model.Id;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">Xoá loại sản phẩm - @Model.Id</h3>
                <p class="card-subtitle"></p>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Delete">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.IsDisabled)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.IsDisabled)
                        </dd>
                    </dl>
                    <div>
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <a class="btn btn-outline-primary" asp-action="Index">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>